{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Sign Up
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="../../static/signin.css">
{% endblock %}

{% block content %}
<div class="container">

  <form method="POST" action="/provider/addschedule">
	   <dl>
	   {{ form.hidden_tag() }}
	    {{ wtf.form_field(form.email) }}
	    {{ wtf.form_field(form.start_time) }}
	    {{ wtf.form_field(form.end_time) }}

	    <input type="submit" value="Add">
	    </dl>
	</form>

</div> <!-- /container -->
{% endblock %}