<!-- Author Daniel Bis -->


{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard Customer
{% endblock %}

{% block styles %}
{{super()}}
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Sido</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Welcome to Dashboard Customer<span class="sr-only">{{name}}</span></a></li>
            <li><a href="{{ url_for('mod_auth.logout') }}">Log Out</a></li>
           

          </ul>
        </div>
      </div>
    </nav>

{% for shop in shops %}

<div class="card" style="width: 18rem; margin-top: 2%">
  <div class="card-body">
    <h5 class="card-title">shop.name</h5>
    <h6 class="card-subtitle mb-2 text-muted">shop.location</h6>
    <p class="card-text">Shop Description</p>
    <a href="#" class="card-link">Explore</a>
    <a href="#" class="card-link">Next Available</a>
  </div>
</div>


{%- endfor %}

{% endblock %}